<!DOCTYPE html>
<html>
<head>
  <title>Joke and Meme Hub</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<nav>
  <a href="/">Home</a>
  <a href="/joke">Random Joke</a>
  <a href="/meme">Random Meme</a>
  <a href="/jokeoftheday">Joke of the Day</a>
  <a href="/about">About</a>
</nav>

<div class="content">
